<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
          
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>Title</title>
</head>
<body>

<!-- Inicio Header-->
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mi Empresa Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link active" th:href="@{/}">Panel</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/perfil}">Mi Perfil</a>
                </li>
                <li class="nav-item ">
                    <a th:href="@{/registros/listar}" class="nav-link" >Registros de Accidente</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="miperfil.jsp">Usuarios</a>
                </li>
            </ul>
            <div>
            	<p th:text="${usuario}"></p>
                <div class="text-white"><button data-toggle="modal" data-target="#salirModal" class="btn bg-transparent text-dark">
                    <a th:href="@{/logout}" >Salir</a>
                </button></div>
            </div>
        </div>
    </nav>

</header>
<!-- Fin header-->
<!-- Inicio Footer-->
<div th:fragment="footer">

    <!-- Site footer-->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <h6>Prueba final modulo 5</h6>
                    <p class="text-justify"> <i>  </i>480 horas culminan en esto, prueba final del modulo</p>
                </div>

                <div class="col-md-3">
                    <h6>Nuestro Github</h6>
                    <ul class="footer-links">
                        <li><a href="https://github.com/Dhamary08">Valeria</a></li>
                        <li><a href="https://github.com/renecal">Rene</a></li>
                        <li><a href="https://github.com/Carlosmilla">Carlos</a></li>
                        <li><a href="https://github.com/eQuiz19">Jose</a></li>
                        <li><a href="https://github.com/JavierLagosS">Javier</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                        <a href="#">Empresa X</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>
<!--Fin Footer-->



</body>
</html>


