<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head::head">
</head>
<body>
<header th:insert="fragments/header::navbar" ></header>
		<div class="separator-50"></div>
		<div class="container">
		<div class="row">
            <div class="col-md-3 mb-3">
                <div class="card shadow bg-warning">
                    <div class="card-body text-center">
                      <h5 class="card-title">Mi Perfil de </h5>
                      <a  th:href="@{/perfil}" class="btn btn-primary">Ver Perfil</a>
                      
                    </div>
                  </div>
            </div>
            
            <div class="col-md-3 mb-3">
                <div class="card shadow bg-warning">
                    <div class="card-body text-center">
                    
                      <h5 class="card-title">Ver Accidentes</h5>
                      <a  th:href="@{/registros/listar}" href="" class="btn btn-primary">Ver Accidentes</a>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card shadow bg-warning">
                    <div class="card-body text-center">
                      <h5 class="card-title">Ver Usuarios</h5>
                      <a href="${pageContext.request.contextPath}/usuarios" class="btn btn-primary">Ver Usuarios</a>
                      
                    </div>
                  </div>
            </div>
              <div class="col-md-3 mb-3">
                <div class="card shadow bg-warning">
                    <div class="card-body text-center">
                      <h5 class="card-title">Ver Personas</h5>
                      <a href="${pageContext.request.contextPath}/personas" class="btn btn-primary">Ver Personas</a>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card shadow bg-warning">
                    <div class="card-body text-center">
                      <h5 class="card-title">Roles</h5>
                      <a href="${pageContext.request.contextPath}/roles" class="btn btn-primary">Ver Roles</a>
                      
                    </div>
                  </div>
            </div>
        </div>
		</div>

<div th:insert="fragments/header ::footer"></div>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
</body>
</html>