<!DOCTYPE html>
<html>
<head th:insert="fragments/head::head">
</head>
<body>
<header th:insert="fragments/header::navbar"></header>
		  <div class="separator-50"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h2>Mi Perfil</h2>
                    </div>
                    <!--  <div th:text="${query}"></div> -->
                    <div class="card-body">
                    <div th:each="item : ${query}">
                        <form action="" id="miPerfil"  th:action="@{/editarPerfil}"
											th:method="post" th:object="${query}">
                            <div class="form-group row">
                            	
                                <div class="col-md-6">
                                
                                    <label for="nombre">Nombre</label>
                                    <input id="nombre" class="form-control" type="text" name="nombre"  th:value="${item.persona.nombre}"  >
                                </div>
                                <div class="col-md-6">
                                    <label for="apellido">Apellido</label>
                                    <input id="apellido" class="form-control" type="text" name="apellido" th:value="${item.persona.apellido}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                
                                <div class="col-md-6">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-control" type="text" name="email" th:value="${item.persona.email}" >
                                </div>
                                <div class="col-md-6">
                                    <label for="telefono">Tel&eacute;fono</label>
                                    <input id="telefono" class="form-control" type="text" name="telefono" th:value="${item.persona.telefono}" >
                                </div>
                            </div>
                            <div class="form-group row">                                
                                <div class="col-md-4">
                                    <label for="direccion">Direcci&oacute;n</label>
                                    <input id="direccion" class="form-control" type="text" name="direccion" th:value="${item.persona.direccion}" >
                                </div>
                                <div class="col-md-4">
                                <input type="hidden" value="1234" th:field="*{password}">
                                 <input type="hidden" value="1" th:field="*{persona}">
                                 <input type="hidden" value="1" th:field="*{username}">
                                    <label for="comuna">Comuna</label>
                                    <input id="comuna" class="form-control" type="text" name="comuna" th:value="${item.persona.comuna}"  >
                                </div>
                                <div class="col-md-4">
                                    <label for="sisPrevision">Sistema Previsional</label>
                                    <input id="sisPrevision" class="form-control" type="text" name="sisPrevision" th:value="${item.persona.sisPrevision}"  >
                                </div>
                                
                            </div>    
                            <div class="form-group row">                                
                                <div class="col-md-6">
                                    <label for="nombre_rol">Rol</label>
                                    <div th:each="autoridad:${item.authority}">
                                    	<input id="nombre_rol" class="form-control" type="text" name="nombre_rol" th:value="${autoridad.authority}" disabled>
                                	</div>
                                </div>
                                <div class="col-md-6">
                                    <label for="nombre_usuario">Username</label>
                                    <input id="nombre_usuario" class="form-control" type="text" name="nombre_usuario"  th:value="${item.username}"  disabled>
                                </div>
                           
                            </div> 
                            
                            <div sec:authorize="hasRole('ADMIN')" th:remove="tag">
                           <button type="submit" id="solicitarModificacion" class="btn btn-success my-3 float-right">Editar</button>                   
                           <!-- <button type="button" id="solicitarModificacion" class="btn btn-success my-3 float-right" data-toggle="modal" data-target="#solicitarModificacionModal">Solicitar Modificaci&oacute;n</button>  -->                    
                           </div>
                           
                        </form>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
        <div class="separator-50"></div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                       <h2> Mi historial de registros de accidentes</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-light" id="miHistorial">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>id_registro_accidente</th>
                                    <th>Cargo</th>
                                    <th>Fecha de Accidente</th>
                                    <th>Previsin</th>
                                    <th>Tipo de Accidente</th>
                                    <th>Descripcin</th>
                                    <th>Registrado Por</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>100</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                    <td>Lorem, ipsum.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>id_registro_accidente</th>
                                    <th>Cargo</th>
                                    <th>Fecha de Accidente</th>
                                    <th>Previsin</th>
                                    <th>Tipo de Accidente</th>
                                    <th>Descripcin</th>
                                    <th>Registrado Por</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>  -->
    </div>
    	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"
		charset="UTF-8">
		
	</script>
</body>
</html>